<html>

<head>
    <meta charset="UTF-8" />
</head>

<body>
    <h1>courses
    </h1>
    <% courses.forEach(course=> { %>
        <li>
            <%= course.name %>
        </li>

        <% }) %>
</body>

</html>